.movies-card {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  list-style: none;
  border-radius: 6px;
  overflow: hidden;
}

.movies-card__container {
  display: flex;
  width: 336px;
  row-gap: 20px;
  justify-content: space-between;
  margin-left: 14px;
  margin-top: 6px;
  margin-right: 14px;
}

@media screen and (max-width: 1200px) {
  .movies-card__container {
    width: 311px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card__container {
    width: 276px;
  }
}

.movies-card__name-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.movies-card__name {
  width: 290px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  color: white;
  margin-bottom: 9px;
  padding-top: 0;
  margin-top: 0;
}

@media screen and (max-width: 1279px) {
  .movies-card__name {
    width: 260px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card__name {
    width: 240px;
  }
}

.movies-card__duration {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;
  color: #8b8b8b;
}

.movies-card__remove {
  padding: 0;
  background-image: url(../../images/remove.svg);
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
}

.movies-card__like {
  padding: 0;
  background-image: url(../../images/like_inactive.svg);
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  width: 30px;
  height: 30px;
}

.movies-card__like:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}

.movies-card__like_active {
  background-image: url(../../images/like_active.svg);
}

.movies-card__image {
  width: 364px;
  height: 203px;
  object-fit: cover;
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  .movies-card__image {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card__image {
    width: 300px;
    height: 168px;
  }
}
