.search-form {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 84px;
}

@media screen and (max-width: 1270px) {
  .search-form {
    flex-direction: column;
    align-items: center;
    gap: 38px;
  }
}

@media screen and (max-width: 767px) {
  .search-form {
    gap: 42px;
    margin-bottom: 50px;
  }
}

.search-form__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.search-form__input {
  padding: 0;
  line-height: 34px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 50px;
  width: 932px;
  height: 48px;
  color: #aaa;
  border: 1.5px solid #aaa;
  background-color: #202020;
  opacity: 0.8;
  padding-left: 23px;
}

.search-form__input::placeholder {
  padding-left: 23px;
}

@media screen and (max-width: 1270px) {
  .search-form__input {
    width: 90vw;
  }
}

.search-form__input:focus {
  outline: auto;
}

.search-form__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 8px;
  align-self: center;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  width: 34px;
  height: 34px;
}

.search-form__button:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}
